<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>remote-repository</id>
            <username>${env.MVN_USER}</username>
            <password>${env.MVN_PASS}</password>
        </server>
    </servers>
    <mirrors>  
        <mirror>  
          <!--This sends everything else to /public -->  
          <id>remote-repository</id>  
          <mirrorOf>*</mirrorOf>  
          <url>${env.MVN_REPO_URL}</url>  
        </mirror>  
      </mirrors>

    <profiles>
        <profile>
            <id>remote-repository</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>remote-repository</id>
                    <url>${env.MVN_REPO_URL}</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>remote-repository</activeProfile>
    </activeProfiles>
</settings>